/* General styling */
body {
    font-family: Arial, sans-serif;
  }
  
  .container-fluid {
    padding-top: 70px; /* Adjust based on your navbar height */
  }
  
  /* Navbar styling */
  .navbar {
    background-color: navy;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: white !important; /* Change text color to white */
  }
  
  .navbar-toggler-icon {
    background-color: white; /* Change navbar toggler icon color to white */
  }
  
  /* Section styling */
  .resume-section {
    padding: 50px 0;
  }
  
  .resume-section h2 {
    margin-bottom: 30px;
  }
  
  .resume-section p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .resume-section .subheading {
    font-size: 16px;
    font-style: italic;
    margin-bottom: 20px;
  }
  
  /* Social icons styling */
  .social-icons {
    margin-top: 30px;
  }
  
  .social-icons a {
    color: navy;
    margin-right: 15px;
    font-size: 24px;
  }
  
  /* Footer styling */
  footer {
    text-align: center;
    padding: 20px 0;
    background-color: navy;
    color: white;
  }
  